/*general styles*/

.unstyle-link {
  color: inherit;
  text-decoration: none;
}

/*products styles*/

.product-thumbnail {
  max-width: 150px;
}

.product-image {
  max-width: 400px;
}

/*review styles*/
.review li {
  display: inline;
  margin: 0;
  padding: 0;
}

.fullStar, .emptyStar {
  color: #FFDF00;
}

ul {
  list-style: none;
}

.categoryContainer {

}

.profileContainer {

}

.productsContainer {

}

.productContainer {

}

.navbarContainer {

}

.navbarContainer .bar {
  padding-top: 10px;
}

.whoami {
  float: right;
}

.whoami-user-name {
  padding-right: 25px;
}

#login {
  float:left;
}

.logout {

}

#submitForm {
  width: 100%;
}
